workflows/RU5 Reporte Ejecutivo Matutino.json
{
  "name": "Reporte Ejecutivo Matutino",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    (SELECT COUNT(*) FROM alertas_fuerza_bruta WHERE fecha >= NOW() - INTERVAL '24 HOURS') as total_ru1,\n    (SELECT COUNT(*) FROM alertas_accesos_nocturnos WHERE fecha >= NOW() - INTERVAL '24 HOURS') as total_ru2,\n    (SELECT COUNT(*) FROM alertas_spikes_recursos WHERE fecha >= NOW() - INTERVAL '24 HOURS') as total_ru3,\n    (SELECT COUNT(*) FROM alertas_ml WHERE fecha >= NOW() - INTERVAL '24 HOURS') as total_ru4;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        96,
        -144
      ],
      "id": "1ec814a7-1cdb-4416-b57f-a8d7d7c195e2",
      "name": "Obtener Metricas",
      "credentials": {
        "postgres": {
          "id": "hvF0mMMeucd1yw23",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT chat_id, nombre FROM analistas_registrados ORDER BY fecha_registro ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        320,
        -144
      ],
      "id": "d41ad924-14bb-4d2a-a719-d5e032757e13",
      "name": "Obtener Analistas",
      "credentials": {
        "postgres": {
          "id": "hvF0mMMeucd1yw23",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        544,
        -144
      ],
      "id": "081b90de-ca68-431f-9bf8-d9e3b3acbdc4",
      "name": "Split in Batches"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "msg-field-001",
              "name": "mensaje_reporte",
              "value": "=📊 <b>REPORTE EJECUTIVO MATUTINO</b> 📊\n<b>Sistema SOAR - Resumen de las últimas 24hs</b>\n--------------------------------------------------\n\n🔒 <b>Métricas de Defensa Activa:</b>\n• Intentos de Fuerza Bruta Mitigados (RU-1): {{ $('Obtener Metricas').item.json.total_ru1 }}\n• Accesos Nocturnos Detectados (RU-2): {{ $('Obtener Metricas').item.json.total_ru2 }}\n• Picos de Consumo Anómalos (RU-3): {{ $('Obtener Metricas').item.json.total_ru3 }}\n• Anomalías críticas analizadas por ML (RU-4): {{ $('Obtener Metricas').item.json.total_ru4 }}\n\n--------------------------------------------------\nEstado del Entorno: <b>OPERATIVO</b>\n<i>Reporte generado de forma automatizada por el Orquestador n8n.</i>",
              "type": "string"
            },
            {
              "id": "chat-field-001",
              "name": "chat_id_destino",
              "value": "={{ $json.chat_id }}",
              "type": "string"
            },
            {
              "id": "nombre-field-001",
              "name": "nombre_analista",
              "value": "={{ $json.nombre }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        -144
      ],
      "id": "284b56f5-eb58-4b77-9e17-ad6f92ed2c3e",
      "name": "Preparar Mensaje"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id_destino }}",
        "text": "={{ $json.mensaje_reporte }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        992,
        -144
      ],
      "id": "3e2c52e2-449d-4475-9c00-54d1b384330e",
      "name": "Enviar Reporte",
      "webhookId": "7df584ff-7ac2-4390-a908-358fed66478c",
      "credentials": {
        "telegramApi": {
          "id": "ueALl70pnW6cEnaT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -128,
        -144
      ],
      "id": "6a18d37f-c491-4da4-9e89-0b6e8b438ccf",
      "name": "Schedule Trigger1"
    }
  ],
  "pinData": {},
  "connections": {
    "Obtener Metricas": {
      "main": [
        [
          {
            "node": "Obtener Analistas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Analistas": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split in Batches": {
      "main": [
        [],
        [
          {
            "node": "Preparar Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensaje": {
      "main": [
        [
          {
            "node": "Enviar Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Reporte": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Obtener Metricas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "41614a7c-5441-4caf-b641-019497824b4d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b5e1c5781d3b16dcb65865042865873e1ca87b5c934bbbd4ea1a3cb59b04685"
  },
  "id": "SeIPkHFzFDK6uTSH",
  "tags": []
}